__pycache__/
*.pyc

venv/
.venv/

db.sqlite3

media/
staticfiles/

.env
.env.*
!.env.example
!deploy/postgres/.env.postgres.example

*.sqlite3
*.dump
*.backup
*.log
logs/
*.tmp
*.bak
.pytest_cache/
.coverage
htmlcov/

.vscode/
*.code-workspace

deploy/tmp/
